<h1>Achievements</h1>

<%= link_to "New Achievements", new_achievement_path %>

<% if @achievements %>
  <div class="achievements">
    <% @achievements.each do |achievement| %>
      <div class="achievement">
        <div class="achievement-image">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
        </div>
        <div class="achievement-content">
          <h1><%= achievement.title %></h1>
          <p><%= achievement.description %></p>
          <p class="achievement-detail"><%= time_ago_in_words(achievement.created_at) %> ago</p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
